.*
*~
*.o
*.lo
*.la
!.gitignore
config.*
!config.sub
!config.guess
MANIFEST*
!MANIFEST.SKIP
*META.*
bin/qgames-console
bin/qgames-ncurses
parser/qgames_parser.output
parser/test-pgn
parser/test-symtable
test/bin/test-ajedrezq
test/bin/test-dump
test/bin/test-generic
test/bin/test-gomoku
test/bin/test-graph
test/bin/test-historial
test/bin/test-juego-valido
test/bin/test-logo
test/bin/test-movidas-posibles-data
test/bin/test-tateti
test/qgtest/test-qgames
tools/bin2c
